apiVersion: v1
kind: Service
metadata:
  name: todo
spec:
  type: NodePort
  selector:
    app: todo
  ports:
    - name: http
      port: 5000
      targetPort: 5000
      nodePort: 31000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: todo
  template:
    metadata:
      labels:
        app: todo
    spec:
      containers:
        - name: python-todo
          image: aisalkyn85/python-todo:v2   
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: DATABASE_URI
              value: "mysql+pymysql://root:root@mysql-normal.default.svc.cluster.local:3306/todo"
